In [49]:
import pandas as pd

In [50]:
quotes = pd.read_csv('/Users/timangevare/Documents/quotes_dataset.csv', sep=',')

/Users/timangevare/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,26,29,31,36,39,40,41) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [51]:
print(len(quotes))

499708

In [52]:
quotes.head()

,"I'm selfish, impatient and a little insecure. I make mistakes, I am out of control and at times hard to handle. But if you can't handle me at my worst, then you sure as hell don't deserve me at my best.",Marilyn Monroe,"attributed-no-source, best, life, love, mistakes, out-of-control, truth, worst",Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41
0,You've gotta dance like there's nobody watchin...,William W. Purkey,"dance, heaven, hurt, inspirational, life, love...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,You know you're in love when you can't fall as...,Dr. Seuss,"attributed-no-source, dreams, love, reality, s...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A friend is someone who knows all about you an...,Elbert Hubbard,"friend, friendship, knowledge, love",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Darkness cannot drive out darkness: only light...,"Martin Luther King Jr., A Testament of Hope: T...","darkness, drive-out, hate, inspirational, ligh...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,We accept the love we think we deserve.,"Stephen Chbosky, The Perks of Being a Wallflower","inspirational, love",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
quotes = quotes.rename(columns={"I'm selfish, impatient and a little insecure. I make mistakes, I am out of control and at times hard to handle. But if you can't handle me at my worst, then you sure as hell don't deserve me at my best." : "quote", "Marilyn Monroe" : "author"})

In [54]:
quotes = quotes[['quote', 'author']]
quotes.head()

,quote,author
0,You've gotta dance like there's nobody watchin...,William W. Purkey
1,You know you're in love when you can't fall as...,Dr. Seuss
2,A friend is someone who knows all about you an...,Elbert Hubbard
3,Darkness cannot drive out darkness: only light...,"Martin Luther King Jr., A Testament of Hope: T..."
4,We accept the love we think we deserve.,"Stephen Chbosky, The Perks of Being a Wallflower"

In [55]:
quotes = quotes.dropna()

In [56]:
conditional = quotes.apply(lambda row: True if len(row['quote']) <= 80 else False, axis=1)

In [57]:
quotes = quotes[conditional]

In [58]:
print(len(quotes))

141699

In [59]:
quotes.to_csv('quotes_data.csv')